@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Merriweather:ital@1&family=Montserrat:ital@1&family=Sora:wght@400;700&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;;
}
.potfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    position: relative;
}
.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
 
.left-container{
    background: black;
    width: 70%;
    padding-left: 3rem;
}
.right-container{
    background: linear-gradient(-45deg, #3877ff, #262525 70%);
    width: 30%;
}
.icons .fa-brands{
    color: #fff;
    font-size: 1.7rem;
    
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.icons:hover{
    transition: .5s;
    color: #fff;
    cursor: pointer;
    
}
.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 1.5rem;
    color: white;
}
.content .intro span{
    color: #5db9ee;
}
.content h1{
    font-size: 4rem;
    color: #5db9ee;
    font-family: 'Times New Roman', Times, serif;
}
.content .detail{
    font-size: 1.1rem;
    color: white;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.btn-container button{
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
button:nth-child(1){
    background: #5db9ee;
    color: black;
}
button:nth-child(2){
    background: transparent;
    color: #5db9ee;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #5db9ee;
}
button:nth-child(2):hover{
    background: #5db9ee;
    color: black ;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%,black 50%);
    width: 38rem;
}
.circle:nth-child(2){
    background-image: url("20210707_192732.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30rem;
    border: 1rem solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
.navlist li a::after, .navlist .active::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom-right;
    transition: transform .5s;
}
.navlist li a:hover::after, .navlist .active::after{
    transform: scaleX(1);
    transform-origin: bottom-left;
}
.about{
    min-height: 100vh;
    width: 100%;
    padding: 78px 0px;
    background-color: black;
}
.about img{
    border: 2px solid #3877ff;
    box-shadow: 0 0 5px #3877ff,
                0 0 25px #3877ff;
    height: auto;
    width: 50%;
    border-radius: 5rem;
    transition: 0.5s ease;
}
.about-text h1{
    color: #5db9ee;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h5{
    color: #fff;
    font-size: 28px;
    text-transform: 25px;
    margin-bottom: 0.4rem;
}
span{
    color: #3877ff;
}
.about-text p{
    color: #3877ff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background: transparent;
    color: #3877ff;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #3877ff;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s ease;
}
button:hover{
    background: blue;
    color: #fff;
    border: 2px solid blue;
    box-shadow: 0 0 5px blue, 0 0 25px blue;
    cursor: pointer;
    transform: scale(1.1);
}
.cv{
    margin-left: 0.5rem;
}
.service{
    min-height: 100vh;
    width: 100%;
    padding: 78px 0px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.wrapper{
    width: 1170px;
    margin: 5% auto;
}
.wrapper h1{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #3877ff;
    margin: 0;
    padding-bottom: 20px;
}
.single-service{
    position: relative;
    width: 31%;
    height: 320px;
    background: #31279d;
    box-sizing: border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 5px blue, 0 0 25px blue;;
}
.line{
    width: 230px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
}
.single-service p{
    font-size: 20px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.single-service h3{
    font-size: 25px;
    color: #279d78;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.social{
    width: 60px;
    height: 60px;
    background: #31279d;
    border-radius: 50%;
    margin: 5% auto;
}
.social i{
    font-size: 30px;
    padding: 15px;
    color:#ffffff
}
.single-service span{
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    transition: .7s;
    transform: skewX(10deg);
}
.single-service:hover span{
    left: 110%;
}
@media (max-width:600px){
    .wrapper{
        width: 100%;
    }
    .single-service{
        width: 95%;
        margin-bottom: 30px;
    }
    .wrapper h2{
        font-size: 30px;
    }
}
#projects {
	padding: 10rem 0;
    background-color: black;
    justify-content: center;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: var(--body-bg);
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 30px #3877ff;
	z-index: 2;
    color: #3877ff;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 30px #3877ff;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}
.section-heading{
    justify-content: center;
    margin-left: 100px;
    padding-left: 350px;
    padding-bottom: 100px;
    font-weight: bold;
    color: #3877ff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
#section-wrapper{
    width: 100%;
    padding: 10px;
    background-color: #000000;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: #31279d;
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #3877ff;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color:#5db9ee;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #000000;
    color: #3877ff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #3877ff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: black;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #3877ff;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
    
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#31279d;
    text-align: center;
    background: #3877ff;
    box-shadow: 0px 0px 30px #5db9ee;
    transition: .5s;
}
.submit-button:hover{
    background: cyan;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
        color: #3877ff;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}



    
